h1 {
    color: green;
}

.banner {
    background-image: url(../images/background.jpg);
    outline-color: aliceblue;
    font-size: 75px;
    font-family: "Arial", Times, serif;
    color: white;
    text-shadow: 2px 2px 8px black;
    text-align: center;
    opacity: 0.9;

}
 
.container {
    font-family: "Arial", Times, serif;
    background-image: url("../images/whitewood.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background: white;
    font-family: "Arial", Times, serif;
}